{% extends 'base.html' %}
{% load static %}


{% block body %}

<!-- Carrousel -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/iglesia/1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/iglesia/9.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/iglesia/10.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- SECCIÓN DE CATEQUESIS -->
<section id="about-us">
  <div class="container">
    <div class="row g-md-5 align-items-center">
      <div class="col-lg-5">
        <div class="imageblock position-relative">
          <video class="img-fluid" src="{% static 'videos/video1.mp4' %}" autoplay loop muted>
          </video>

          <div class="video-player position-absolute top-50 start-50 translate-middle">
            <a type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="play-btn position-relative">
              <svg class="play-icon text-primary my-3" width="80" height="80">
                <use xlink:href="#play-button"></use>
              </svg>
            </a>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="videoModalLabel">Video</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <video class="img-fluid" src="{% static 'videos/video1.mp4' %}" autoplay loop muted controls></video>
                </div>
              </div>
            </div>
          </div>

          </a>
        </div>
      </div>
      <div class="col-lg-7 mt-5">
        <h6><span class="text-primary">|</span>Sobre Nosotros</h6>
        <h3 class="display-6 fw-semibold mb-4">Ven y descubre el camino de la salvacón y de la fe</h3>
        <p>La Parroquia Eclesiástica "Santísima Trinidad" La Laguna es una comunidad vibrante y acogedora, dedicada a la
          fe cristiana y al servicio de los demás. Nuestra misión es ser un lugar de encuentro y apoyo espiritual para
          todos aquellos que buscan acercarse a Dios y fortalecer su relación con Él.
        </p>
        <p class="fw-semibold m-0">Nuestra misión</p>
        <p>Aspiramos a ser una comunidad vibrante y compasiva que refleje el amor y la misericordia de Dios. Nuestra
          visión es:
        </p>
        <p><strong>- Crecer en Fe</strong></p>
        <p><strong>- Servir a la Comunidad</strong></p>
        <p><strong>- Promover la Unidad</strong></p>

        <a href="/" class="btn btn-primary btn-slide hover-slide-right mt-4">
          <span>Más sobre nosotros</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Video Popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg class="bi" width="40"
            height="40">
            <use xlink:href="#close-sharp"></use>
          </svg></button>
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>

    </div>

  </div>
</div>
    
{% endblock  %}