{% extends 'base.html' %}
{% block body %}
<div class="row text-center">
    <h1>Cambio de Fiesta Religiosa</h1>
</div>
<div class="container container-lg w-75">
    <p class="text-justify">
        <strong>La Iglesia Católica conmemora la Santísima Cruz el 14 de septiembre</strong>, una fecha que marca la
        exaltación del madero donde Jesús fue
        crucificado. Esta festividad tiene sus raíces en el hallazgo de la cruz por Santa Elena, madre del emperador
        Constantino, en el siglo IV. Posteriormente, la Iglesia de Jerusalén instauró su celebración como un acto de
        veneración y reconocimiento del sacrificio redentor de Cristo.
    </p>
    <p class="text-justify">
        Esta festividad resalta:

    <ul>
        <li> La redención de la humanidad mediante el sacrificio de Cristo, quien ofreció su vida para la salvación de
            todos.
        </li>
        <li>La Cruz como símbolo de esperanza, fe y victoria sobre el pecado, recordando a los fieles que el sufrimiento
            y la muerte no tienen la última palabra, sino la resurrección y la vida eterna.
        </li>
        <li>La importancia de la penitencia y la conversión, pues el sacrificio de Cristo invita a reflexionar sobre el
            arrepentimiento y la renovación espiritual.
        </li>
        <li>La misión del cristiano de cargar su propia cruz, siguiendo las palabras de Jesús: "El que quiera venir en
            pos de mí, que se niegue a sí mismo, tome su cruz y me siga" (Mateo 16,24).
        </li>
    </ul>
    </p>
    <p class="text-justify">
        El carnaval, celebrado antes del inicio de la Cuaresma, se originó como una festividad que permitía disfrutar de
        banquetes y alegría antes del periodo de ayuno y abstinencia. Su nombre proviene del término latino carne vale,
        que significa "adiós a la carne", en referencia a la práctica de abstenerse de carne durante la Cuaresma.
        <strong>No
            obstante, con el paso del tiempo, en muchos lugares se ha alejado de su significado espiritual y se ha
            convertido en una celebración centrada en la diversión y el desenfreno.</strong>
    </p>
    <p class="text-justify">
        Si bien la alegría y la festividad son parte de la vida humana, la Iglesia invita a los fieles a no perder de
        vista la importancia del sacrificio de Cristo y el llamado a la vida de fe. En este sentido, la celebración de
        la Santísima Cruz:

    <ul>
        <li><strong>Fortalece la espiritualidad y el sentido de sacrificio</strong>, recordando a los cristianos que el camino de la fe implica renuncias y entrega.</li>
        <li><strong>Nos recuerda el llamado a la santidad y la conversión</strong>, inspirando a los fieles a vivir según el Evangelio.</li>
        <li><strong>Nos invita a vivir la fe de manera profunda y comprometida</strong>, promoviendo la oración, la caridad y el testimonio cristiano en la vida cotidiana.</li>
        <li><strong>Reafirma la victoria de Cristo sobre el pecado y la muerte</strong>, dando esperanza a quienes enfrentan dificultades y sufrimientos.</li>
    </ul>
    </p>
</div>

{% endblock %}