{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Estilos personalizados -->
<style>
 

  .carousel-item video {
    object-fit: cover;
    height: 80vh;
    width: 100%;
  }

  .gallery img {
    transition: transform 0.3s ease-in-out;
  }

  .gallery img:hover {
    transform: scale(1.05);
  }
</style>



<!-- Título de la galería -->
<h1 class="text-center mt-5">Galería de Imágenes</h1>
<br><br>
<!-- Galería de imágenes -->
<div class="container">
  <div class="row gallery">
    <div class="col-lg-4 col-md-6 mb-4">
      <img src="{% static 'images/gale1.jpeg' %}" class="w-100 shadow-lg rounded" alt="Barco en el agua">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <img src="{% static 'images/gale6.jpg' %}" class="w-100 shadow-lg rounded" alt="Montaña nevada">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <img src="{% static 'images/gale5.jpeg' %}" class="w-100 shadow-lg rounded" alt="Montañas en las nubes">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <img src="{% static 'images/gale3.jpg' %}" class="w-100 shadow-lg rounded" alt="Olas del mar">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <img src="{% static 'images/gale4.jpg' %}" class="w-100 shadow-lg rounded" alt="Parque Yosemite">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <img src="{% static 'images/misa.jpg' %}" class="w-100 shadow-lg rounded" alt="Parque Yosemite">
      </div>
  </div>
</div>

{% endblock %}
