{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="billboard">
  <div class="row align-items-center g-0z" style="background-color: #183f8a">
    <div class="col-lg-6">
      <div class="m-4 p-4 m-lg-5 p-lg-5">
        <h3 class="fw-bold h3 text-white">Diócesis de Latacunga</h3>
        <h2 class="display-4 fw-bold text-white my-4">Parroquia Eclesiástica "Santísima Trinidad" La Laguna</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'images/iglesia/17.jpg' %}" alt="img" class="img-fluid">
    </div>
  </div>
</section>
<hr>
<!-- SECCIÓN DE PÁRROCOS -->
<section id="brands" class="padding-small">
  <div class="container">
    <h6 class="fst-italic text-capitalize mb-4"> Párrocos
    </h6>
    <div class="row row-sm">
      <div class="col col-md-4 my-4 text-center">
        <img src="{% static 'images/parrocos/mon_lorenzo.png' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>Mons. Lorenzo Voltonili</p>
      </div>
      <div class="col col-md-4 my-4 text-center">
        <img src="{% static 'images/parrocos/victoriano_naranjo.jpeg' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>Mons. Victoriano Naranjo</p>
      </div>
      <div class="col col-md-4 my-4 text-center">
        <img src="{% static 'images/parrocos/p_emiliano.jpeg' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>✚ P. Luis Emiliano Jácome ✚</p>
      </div>
      <div class="col col-md-4 my-4 text-center">
        <img src="{% static 'images/parrocos/p_jose_luis.jpeg' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>P. José Luis Tapia</p>
      </div>
      <div class="col col-md-4 my-4 text-center">
        <img src="{% static 'images/parrocos/p_cristian.jpg' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>P. Cristian Santana</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h6 class="fst-italic text-capitalize mb-4"> Vicario
    </h6>
    <div class="row">
      <div class="col my-4">
        <img src="{% static 'images/parrocos/p_luis_gutierrez.jpeg' %}" alt="" class="img rounded-circle"
          style="width: 15rem; height: 15rem;">
        <p>P. Luis Gutiérrez</p>
      </div>
    </div>
  </div>
</section>

<!-- SECCIÓN DE SACRAMENTOS-->
<section>
  <div class="container">
    <div class="row">
      <h1 class="h1 text-center">Sacramentos</h1>
      <div class="col-md-6">
        <h3 class="h3">Bautizmos</h3>
        <p class="text-justify">El santo Bautismo es el fundamento de toda la vida cristiana, el pórtico de la vida en
          el espíritu y la
          puerta que abre el acceso a los otros sacramentos. Por el Bautismo somos liberados del pecado y regenerados
          como hijos de Dios, llegamos a ser miembros de Cristo y somos incorporados a la Iglesia y hechos partícipes de
          su misión. Catecismo de la Iglesia Católica, n. 1213</p>
      </div>
      <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnG7AH5UYeTDRt0zImGvkSDyDSLRmNO_9SMg&s"
          alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnG7AH5UYeTDRt0zImGvkSDyDSLRmNO_9SMg&s"
          class="img w-100 p-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNp4fQ9imlHpLQVv-UbEvlvuCLfXlwCQdsRg&s"
          alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNp4fQ9imlHpLQVv-UbEvlvuCLfXlwCQdsRg&s"
          class="img w-100 p-3">
      </div>
      <div class="col-md-6">
        <h3 class="h3">Confesiones</h3>
        <p class="text-justify">La confesión es el sacramento en el cual, por medio de la absolución del sacerdote,
          recibimos el perdón de
          nuestros pecados si nos confesamos arrepentidos.
          La sagrada Biblia dice: "Confesáos unos a otros vuestros pecados para que seais salvos". </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="h3">Primera comunión</h3>
        <p class="text-justify">La Primera Comunión es la celebración de la Iglesia Católica donde el niño y la niña
          participan por primera
          vez en el Sacramento de la Eucaristía, recibiendo la Comunión.

          La Sagrada Comunión es la presencia de Jesucristo en la Eucaristía, donde le recibimos sacramentado bajo las
          especies del pan y del vino.

          Es el mismo Jesucristo vivo, con su cuerpo, sangre, alma y divinidad.

          Es un encuentro con Él personalmente, quedándose de esta manera, entre nosotros por amor y haciéndonos
          partícipes de su Pascua.

          Se le recibe en esta Sagrada Comunión, haciéndose alimento para nuestras almas, aumentando la gracia y
          dándonos la vida eterna.

          "Yo soy el pan vivo, bajado del cielo. Si uno come de este pan, vivirá para siempre, y el pan que yo le voy a
          dar es mi carne por la vida del mundo". (Jn 6, 51).</p>
      </div>
      <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWK60A8Mw0e-wVt1gSbZPi4_CeQF_2dw-H1g&s" alt=""
          class="img w-100 p-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS97tnf3N3cKcSpCPoT-xNsoGRCdt-2GEmAWQ&s" alt=""
          class="img w-100 p-3">
      </div>
      <div class="col-md-6">
        <h3 class="h3">Matrimonios</h3>
        <p class="text-justify">La unión conyugal tiene su origen en Dios, quien al crear al hombre lo hizo una persona que necesita abrirse
          a los demás, con una necesidad de comunicarse y que necesita compañía. “No está bien que el hombre esté solo,
          hagámosle una compañera semejante a él.” (Gen. 2, 18). “Dios creó al hombre y a la mujer a imagen de Dios,
          hombre y mujer los creó, y los bendijo diciéndoles: procread, y multiplicaos, y llenad la tierra y
          sometedla”.(Gen. 1, 27- 28). Desde el principio de la creación, cuando Dios crea a la primera pareja, la unión
          entre ambos se convierte en una institución natural, con un vínculo permanente y unidad total (Mt. 19,6). Por
          lo que no puede ser cambiada en sus fines y en sus características, ya que de hacerlo se iría contra la propia
          naturaleza del hombre. El matrimonio no es, por tanto, efecto de la casualidad o consecuencia de instintos
          naturales inconscientes.</p>
      </div>
    </div>
  </div>
</section>


<!-- SECCIÓN DE NOTICIAS -->
<section id="blog">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h6><span class="text">|</span>Noticias</h6>
        <h3 class="display-6 fw-semibold">Recientes</h3>
      </div>
      <div>
        <a href="/news/" class="btn btn-primary btn-slide hover-slide-right">
          <span>Ver Todas</span>
        </a>
      </div>
    </div>
    <div class="row mt-5" id="noticias">
      <div class="container">
        {% for n in noticias %}
        <div class=" row text-center mb-3">
          <h2>{{n.titulo}}</h2>
          <div class="row text-center">
            <p>{{n.fecha}}</p>
          </div>
          <div class="container d-flex justify-content-center mt-3 mb-3">
            <a href="/new/{{n.id}}" class="btn btn-outline-warning p-1">Ver mas</a>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% endblock %}