{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    body {
        background-color: #f8f9fa;
        padding: 30px;
    }
    .oracion {
        max-width: 800px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .oracion h2 {
        color: #8B0000;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .oracion img {
        width: 200px; /* Ajusta el tamaño de la imagen */
        display: block;
        margin: 0 auto 20px;
        border-radius: 10px;
    }
    .oracion p {
        text-align: justify;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    .menu-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }
    .menu-links a {
        text-decoration: none;
        background-color:rgb(16, 61, 109)  ;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        transition: background 0.3s;
    }
    .menu-links a:hover {
        background-color: #05213c;
    }
</style>

<div class="menu-links">
    <a href="/horarios/">Horarios de Misa</a>
    <a href="/calendarios/">Calendarios y Celebraciones</a>
    <a href="/sacramentos/">Sacramentos</a>
    <a href="/oracion/">Oración</a>
</div>

<div class="oracion">
    <h2>ORACIÓN</h2>
    <img src="{% static 'images/oracion.jpeg' %}" alt="Santísima Cruz">
    
    <p>
        Dios Padre Todopoderoso, que en tu infinito amor por nosotros
        entregaste a tu Hijo Jesucristo para que, padeciendo sobre el madero de la cruz,
        nos otorgase la salvación para la remisión de nuestros pecados.
    </p>
    <p>
        Humildemente te pedimos que la Santísima Cruz de Cristo,
        que veneramos como signo sagrado de la entrega de quien nos ha salvado,
        proteja a este pueblo tuyo que en cada septiembre te homenajeamos.
    </p>
    <p>
        Santísima Cruz de Cristo, derrama sobre nuestras familias y nuestra provincia
        tu protección y tu amparo contra las asechanzas del maligno.
    </p>
    <p>
        Que adoremos la Santa Cruz de Jesucristo por siempre,
        y que el Espíritu Santo nos fortalezca a llevar nuestras cruces con amor desinteresado.
        Junto a María, nuestra madre, permanezcamos fieles a Dios con certeza segura
        de llegar un día a sus brazos.
    </p>
    <p><strong>Amén.</strong></p>
</div>

{% endblock %}
