{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <h1 class="h1 text-center pb-3">Celebración de la Santísima Trinidad</h1>
    <div class="container p-5 d-flex justify-content-center">
        <img src="{% static 'images/santisima_trinidad.jpg' %}" alt="" class="img img-fluid w-25">
    </div>
    <div class="container w-75">
        <p class="text-justify">El culto a la Trinidad se remonta a los primeros siglos del cristianismo, pero su
            celebración litúrgica como una
            festividad específica fue introducida por primera vez en algunos monasterios en el siglo VIII. Fue el Papa
            Juan
            XXII quien, en el siglo XIV, estableció la festividad para toda la Iglesia.</p>

        <p class="text-justify">La doctrina de la Santísima Trinidad sostiene que Dios es uno en esencia, pero se
            manifiesta en tres personas:
        </p>
        <ul class="list-group mb-3">
            <li class="list-group-item"><strong>Dios Padre</strong>, creador del universo y fuente de todo ser.</li>
            <li class="list-group-item"><strong>Dios Hijo</strong>, Jesucristo, que se encarnó para la redención de la
                humanidad.</li>
            <li class="list-group-item"><strong>Dios Espíritu Santo</strong>, que procede del Padre y del Hijo y es
                quien santifica y da vida a la
                Iglesia.</li>
        </ul>

        <p class="text-justify">Durante la Misa de la Santísima Trinidad, las lecturas y el evangelio enfatizan la
            relación entre las tres
            personas divinas. Algunos de los elementos clave en la liturgia incluyen:</p>
        <ul class="list-group mb-3">
            <li class="list-group-item">La proclamación del <strong>Gloria</strong>, que exalta la grandeza de Dios
                Padre, Hijo y Espíritu Santo.
            </li>
            <li class="list-group-item">La lectura del evangelio, que suele incluir pasajes como Mateo 28:19, donde
                Jesús encomienda a sus
                discípulos a bautizar "en el nombre del Padre, del Hijo y del Espíritu Santo".</li>
            <li class="list-group-item">La recitación del <strong>Credo Niceno-Constantinopolitano</strong>, que afirma
                la fe en la Trinidad.</li>
        </ul>
        <div class="d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MjFaN21r-hU?si=XoTC7oQJ17g1tNms"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <p class="text-justify">La festividad de la Santísima Trinidad también tiene manifestaciones en la devoción
            popular, como:</p>
        <ul class="list-group mb-3">
            <li class="list-group-item">El rezo del <strong>Gloria Patri</strong> en la Liturgia de las Horas y el
                Rosario.</li>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ury4Wy85PM8?si=E3WRgdu9G5Cq0Zzs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <li class="list-group-item">Las iconografías representando a la Trinidad, ya sea mediante el "Tríplice
                Rostro" o la representación del
                Padre, el Hijo y el Espíritu Santo en forma de paloma.</li>
            <li class="list-group-item">Procesiones y fiestas patronales en algunas regiones donde la Trinidad es
                venerada como patrona.</li>
        </ul>

        <p class="text-justify">La celebración de la Santísima Trinidad invita a los fieles a profundizar en el misterio
            de Dios y a vivir la fe
            en comunión con la Iglesia. Es un recordatorio de la unidad y el amor divino que se manifiestan en la
            historia
            de la salvación.</p>
    </div>

</div>

{% endblock %}