{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container p-5">
    <h1 class="h1 text-center pb-3">Celebración de la Santísima Cruz</h1>
    <div class="container p-5 d-flex justify-content-center">
        <img src="{% static 'images/santisima_cruz.jpg' %}" alt="" class="img img-fluid w-25">
    </div>
    <div class="container w-75">
        <p class="text-justify">La festividad de la Santísima Cruz es una de las celebraciones cristianas más antiguas,
            conmemorando el madero en el que Jesucristo fue crucificado para la salvación de la humanidad. Se celebra el
            14 de septiembre y tiene sus raíces en la tradición litúrgica y devocional de la Iglesia.</p>

        <p class="text-justify">La veneración de la Cruz se basa en la creencia de que, a través del sacrificio de
            Cristo, la humanidad fue redimida. La Cruz es símbolo de victoria sobre el pecado y la muerte.</p>
        <ul class="list-group mb-3">
            <li class="list-group-item"><strong>La Cruz de Cristo</strong>, instrumento de redención y amor divino.</li>
            <li class="list-group-item"><strong>La exaltación de la Cruz</strong>, celebrada desde tiempos de
                Constantino el Grande.</li>
            <li class="list-group-item"><strong>La devoción a la Cruz</strong>, extendida por todo el mundo cristiano.
            </li>
        </ul>

        <p class="text-justify">Durante la Misa de la Exaltación de la Cruz, las lecturas y el evangelio enfatizan la
            importancia de la Cruz en la historia de la salvación. Algunos elementos clave en la liturgia incluyen:</p>
        <ul class="list-group mb-3">
            <li class="list-group-item">La lectura del evangelio, que suele incluir pasajes como Juan 3:14-15, donde
                Jesús habla de ser elevado como la serpiente en el desierto.</li>
            <li class="list-group-item">La adoración de la Cruz, donde los fieles pueden venerarla en procesión.</li>
            <li class="list-group-item">El canto del <strong>Vexilla Regis</strong>, himno dedicado a la Cruz.</li>
        </ul>
        <div class="d-flex justify-content-center m-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zH5-QhTBhYs?si=M3jGnGL0m-ti8970"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <p class="text-justify">La festividad de la Santísima Cruz también tiene expresiones en la devoción popular,
            como:</p>
        <ul class="list-group mb-3">
            <li class="list-group-item">La procesión de la Cruz en muchas comunidades cristianas.</li>
            <li class="list-group-item">El rezo del <strong>Vía Crucis</strong> en recuerdo de la Pasión de Cristo.</li>
            <li class="list-group-item">Fiestas y celebraciones locales en honor a la Cruz.</li>
        </ul>

        <p class="text-justify">La celebración de la Santísima Cruz nos recuerda el sacrificio de Cristo y la invitación
            a vivir nuestra fe con gratitud y esperanza. Es un llamado a abrazar la Cruz en nuestras vidas como signo de
            amor y redención.</p>
    </div>

</div>

{% endblock %}