{% extends 'base.html' %}

{% block body %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .form-container {
        max-width: 500px;
        margin: 50px auto;
        padding: 30px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="form-container">
        <h3 class="text-center">Solicitar Bautizo</h3>
        <form id="bautizoForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha tentativa</label>
                <input type="date" class="form-control" id="fecha" name="fecha" min="{{ current_date }}" required>
            </div>
            <div class="mb-3">
                <label for="nombre_nino" class="form-label">Nombre del Niño/Niños</label>
                <input type="text" class="form-control" id="nombre_nino" name="nombre_nino" required>
            </div>
            <div class="mb-3">
                <label for="nombre_padre" class="form-label">Nombre del Padre</label>
                <input type="text" class="form-control" id="nombre_padre" name="nombre_padre" required>
            </div>
            <div class="mb-3">
                <label for="nombre_madre" class="form-label">Nombre de la Madre</label>
                <input type="text" class="form-control" id="nombre_madre" name="nombre_madre" required>
            </div>
            <div class="mb-3">
                <label for="padrinos" class="form-label">Padrinos</label>
                <input type="text" class="form-control" id="padrinos" name="padrinos" required>
            </div>
            <div class="mb-3">
                <label for="observaciones" class="form-label">Observaciones</label>
                <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar Solicitud</button>
        </form>
    </div>
</div>


{% endblock %}
