{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>Solicitudes de Matrimonio</h2>
    <table class="table table-striped jquery" id="tbl_matrimonios">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Nombre del Novio</th>
                <th>Nombre de la Novia</th>
                <th>Padrinos</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for matrimonio in matrimonios %}
            <tr>
                <td>{{ matrimonio.usuario.username }}</td>
                <td>{{ matrimonio.fecha }}</td>
                <td>{{ matrimonio.hora }}</td>
                <td>{{ matrimonio.nombre_novio }}</td>
                <td>{{ matrimonio.nombre_novia }}</td>
                <td>{{ matrimonio.padrinos }}</td>
                <td>{{ matrimonio.observaciones }}</td>
                <td>
                    <!-- Botón para aprobar -->
                    <a href="{% url 'aprobar_solicitud_matrimonio' matrimonio.id %}" class="btn btn-success btn-sm">
                        Aprobar
                    </a>
                    <!-- Botón para rechazar -->
                    <a href="{% url 'rechazar_solicitud_matrimonio' matrimonio.id %}" class="btn btn-danger btn-sm">
                        Rechazar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}